(static_site) {
	root * /usr/share/caddy

	handle /health {
		respond "ok" 200
	}

	try_files {path} {path}/ /index.html
	file_server
}

aizelyan.duckdns.org {
	handle /api* {
		reverse_proxy agent:3001
	}

	handle /webhooks/telegram* {
		reverse_proxy agent:3001
	}

	import static_site
}
